<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Server=localhost;Port=3306;Database=rajinibon;Uid=root;Pwd=root;SslMode=none;" />
  </connectionStrings>
  <appSettings>
    <!--<add key="DbfPath" value="C:\Users\Mongk\Desktop\github\Rajinibon\Rajinibon\Data\" />-->
    <add key="DbfPath" value="D:\Develop\github\Rajinibon\Rajinibon\Data\" />
    <add key="Date" value="20180521" />
    <add key="PreName" value="his" />
    <add key="taskStartTime" value="4:59:0"/>
    <add key="taskEndTime" value="18:40:0"/>
    <add key="entryStartTime" value="5:0:0"/>
    <add key="entryEndTime" value="12:0:0"/>
    <add key="exitStartTime" value="15:20:0"/>
    <add key="exitEndTime" value="18:30:0"/>
    <add key="sentMessageService" value="http://server.thebluecodemanagement.com/sst/parse/notify/news/{schoolCode}/{roleCode}/rooms/students"/>
    <add key="schoolCode" value="BC00"/>
    <add key="roleCode" value="TCH"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.11.0" newVersion="8.0.11.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=8.0.10.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
</configuration>