<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

  <connectionStrings>
    <add name="DefaultConnection" connectionString="Server=localhost;Port=3306;Database=rajinibon;Uid=root;Pwd=root;SslMode=none;" />
  </connectionStrings>

  <appSettings>

    <!--setup file-->
    <add key="DbfPath" value="C:\Users\Mongk\Desktop\github\Rajinibon\Rajinibon\Data\" />
    <!--<add key="DbfPath" value="D:\Develop\github\Rajinibon\Rajinibon\Data\" />-->
    <!--yyyyMMdd-->
    <add key="Date" value="current" />
    <add key="PreName" value="his" />

    <!--setup time-->
    <add key="taskStartTime" value="5:0:0"/>
    <add key="taskEndTime" value="23:40:0"/>
    <add key="entryStartTime" value="5:0:0"/>
    <add key="entryEndTime" value="12:0:0"/>
    <add key="exitStartTime" value="15:0:0"/>
    <add key="exitEndTime" value="19:0:0"/>

    <!--setup sent message service-->
    <add key="sentMessageService" value="http://server.thebluecodemanagement.com/sst/parse/notify/news/{schoolCode}/{roleCode}/rooms/students"/>
    <!--test-->
    <!--<add key="schoolCode" value="BC00"/>
    <add key="roleCode" value="TCH"/>-->

    <!--rajinibon-->
    <add key="schoolCode" value="RJB1"/>
    <add key="roleCode" value="ADM"/>
    <add key="username" value="admin"/>
    <!--<add key="roleCode" value="TCHPR"/>-->
    <!--<add key="username" value="290042"/>-->

    <!--setup sent message body-->
    <!--test-->
    <!--<add key="students" value="999902"/>-->

    <add key="students" value=""/>
    <add key="message" value=""/>
    <add key="rooms" value=""/>


    <!--Thread-->
    <add key="ThreadSleepTaskSec" value="30"/>
    <add key="ThreadSleepSentMessageSec" value="2"/>

    <!--test-->
    <add key="Test" value="false"/>

  </appSettings>
</configuration>